.container {
    
    text-align: center;
    color: blue;
    
    margin-top: 56px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .container {
      font-size: 1em;
    }
}